<div class="card mb-4">
  <div class="card-header">
    Posted by: <strong>{{user.username}}</strong>  at {{format_time createdAt}} on {{format_date createdAt}}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <p class="card-text">{{content}}</p>
  </div>

    <a href="/post/{{id}}">
      <button class="btn btn-primary my-2">
      View comments
      </button>
    </a>


</div>

